<h1 id="heading1">Results</h1>
<div class="well" style="background:#ffffff">
  <% @results.each do |result| %>
    <div class="" style="background:#ffffff">
      <%= result.html_safe %>
    </div>
  <% end %>
</div>
