<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      Your task of: <%= @task.instructions %> was completed.  The response was <%= @task.answer %>.
      Thanks for using Mobileworks.
    <br/>
    </p>
    <p>Thanks for sending tasks and have a great day!</p>
  </body>
</html>