<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to CrowdAssistant.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up.
      Your email is: <%= @user.email %>.<br/>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>